image: maven:3.6-jdk-8-alpine

stages:
- test
- package

test:
  stage: test
  script:
    - mvn clean test
  tags:
    - maven-3.6-jdk-8-alpine

package:
  stage: package
  script:
    - mvn clean package
  tags:
    - maven-3.6-jdk-8-alpine
  artifacts:
    paths:
      - target/transparenzsoftware.jar
  only:
    - master
