# intellij
*.iml
.idea/*

# java
target/*
/target/
/versionen/
**/under_test/
# eclipse
.settings/*
.project
*.log
bin/*
.classpath
# test files
test_ignored_files/*
# maven shade plugin
dependency-reduced-pom.xml
